@model ZGmarket.Models.ViewModels.NomCreate;

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Редактировать</h1>

<h4>Номенклатура\товар</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @await Html.PartialAsync("_SelectListPartial", Model)
            <div class="form-group">
                <label asp-for="Nom.Title" class="control-label">Товар</label>
                <input asp-for="Nom.Title" class="form-control" />
                <span asp-validation-for="Nom.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nom.ShelfLife" class="control-label">Срок</label>
                <input type="number" asp-for="Nom.ShelfLife" class="form-control" />
                <span asp-validation-for="Nom.ShelfLife" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nom.Price" class="control-label">Цена</label>
                <input type="number" asp-for="Nom.Price" class="form-control" />
                <span asp-validation-for="Nom.Price" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="mt-5">
    <a asp-action="Index">Назад в список</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
